@font-face {
  font-family: "HARRYP";
  src: url("./HARRYP.ttf");
}

body {
  font-family: "HARRYP", sans-serif;
  font-size: 1.75em;
}

#header {

  background-color: cyan;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  /* align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center; */
}

#welcome {
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
}

#formContainer {
  display: flex;
  flex-direction: row;
  margin: 40px 10px;
}

.form-group {
  margin-left: 40px;
}

#preferContainer {
  width: 50%;
  align-items: flex-end;
}

#preferenceRB {
  margin-left: 40px;
}

#submitButton {
  margin-left: 40px;
  margin-top: 50px;
  /* padding-left: 40px; */
  height: 40px;
  width: 100px;
  justify-content: center;
}

#studentCards {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

#houseCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid black;
  width: 100%;
  margin: 20px;
  text-align: center;
  justify-content: space-evenly;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#expelCards {
  
  border: 1px solid black;
  width: 100%;
  margin: 20px;
  text-align: center;
  justify-content: space-evenly;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-house {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top:  60px;
  margin-bottom: 60px;
  padding: 20x;
  gap: 60px;
}

.mb-3 form-check {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  width: 50%;
  height: 40px;
}

#showAll,
#showGryffindor,
#showHufflepuff,
#showRavenclaw,
#showSlytherin {
  height: 40px;
  width: 20%;
}
